.example-spacer {
    flex: 1 1 auto;
    display: flex;
    width: 100%;
  }
  *{
    background-color: white;
    
  }
  mat-toolbar > div > span {
    margin-left: 100px;
  } 
  .notifications_none{
    position: absolute;
    right: 180px;
    color:#125D79
  }
  .viacred{
    display: flex;
    position: absolute;
    color: #125D79;
    border: 1px solid #125D79;
    box-sizing: border-box;
    border-radius: 15px;
    right: 85px;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: left;
  }
